data-ingestion/data_factory_pipeline.json
{
    "name": "PL_ingest_incremental",
    "objectId": "793b52ce-ea0f-49ab-93f8-464ef0a30037",
    "properties": {
        "activities": [
            {
                "name": "Get Metadata1",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "fieldList": [
                        "childItems",
                        "itemName"
                    ],
                    "datasetSettings": {
                        "annotations": [],
                        "type": "Binary",
                        "typeProperties": {
                            "location": {
                                "type": "FileServerLocation"
                            }
                        },
                        "externalReferences": {
                            "connection": "f3978424-fea8-4f40-b225-ef27e7e39ad4"
                        }
                    },
                    "storeSettings": {
                        "type": "FileServerReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "BinaryReadSettings"
                    }
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Metadata1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Metadata1').output.childItems",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "If Condition1",
                            "type": "IfCondition",
                            "dependsOn": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(substring(item().name, 0 ,10 ), formatDateTime(utcNow(),'yyyy-MM-dd'))",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [],
                                "ifTrueActivities": [
                                    {
                                        "name": "Copy data1",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "source": {
                                                "type": "BinarySource",
                                                "storeSettings": {
                                                    "type": "FileServerReadSettings",
                                                    "recursive": true
                                                },
                                                "formatSettings": {
                                                    "type": "BinaryReadSettings"
                                                },
                                                "datasetSettings": {
                                                    "annotations": [],
                                                    "type": "Binary",
                                                    "typeProperties": {
                                                        "location": {
                                                            "type": "FileServerLocation",
                                                            "fileName": {
                                                                "value": "@item().name",
                                                                "type": "Expression"
                                                            }
                                                        }
                                                    },
                                                    "externalReferences": {
                                                        "connection": "f3978424-fea8-4f40-b225-ef27e7e39ad4"
                                                    }
                                                }
                                            },
                                            "sink": {
                                                "type": "BinarySink",
                                                "storeSettings": {
                                                    "type": "LakehouseWriteSettings"
                                                },
                                                "datasetSettings": {
                                                    "annotations": [],
                                                    "linkedService": {
                                                        "name": "LH_Earthquake",
                                                        "properties": {
                                                            "annotations": [],
                                                            "type": "Lakehouse",
                                                            "typeProperties": {
                                                                "workspaceId": "dd4e4e02-925b-4769-9c27-f6784f8f60b3",
                                                                "artifactId": "afc11570-f375-4319-95ea-ded6baa480a8",
                                                                "rootFolder": "Files"
                                                            }
                                                        }
                                                    },
                                                    "type": "Binary",
                                                    "typeProperties": {
                                                        "location": {
                                                            "type": "LakehouseLocation",
                                                            "folderPath": {
                                                                "value": "ott/@{formatDateTime(utcNow(),'yyyy-MM-dd' )}",
                                                                "type": "Expression"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "enableStaging": false
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            {
                "name": "Stored procedure1",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Notebook1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "storedProcedureName": "[Movies].[Proc_Update_Dimensions_And_Fact_table]"
                },
                "linkedService": {
                    "name": "WH_MD_Database",
                    "properties": {
                        "annotations": [],
                        "type": "DataWarehouse",
                        "typeProperties": {
                            "endpoint": "kdf3tskeg22e3ith7kcn6l2m5m-ajhe5xk3sjuuphbh6z4e7d3awm.datawarehouse.fabric.microsoft.com",
                            "artifactId": "1ab17ec7-b137-4fa8-9fc7-64c99392e9cc",
                            "workspaceId": "dd4e4e02-925b-4769-9c27-f6784f8f60b3"
                        }
                    }
                }
            },
            {
                "name": "Notebook1",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "ForEach1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "75b0f997-203f-4574-becd-8c0be95610c6",
                    "workspaceId": "dd4e4e02-925b-4769-9c27-f6784f8f60b3",
                    "parameters": {
                        "start_date": {
                            "value": {
                                "value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
                                "type": "Expression"
                            },
                            "type": "string"
                        }
                    }
                }
            }
        ],
        "lastModifiedByObjectId": "986b93fe-65f0-4be4-afc2-7a34b9c42b2f",
        "lastPublishTime": "2025-01-29T19:33:05Z"
    }
}